<!DOCTYPE html>

<avatar-sex-selector ng-if="!editor.dressroom" renderdressroom="editor.dressroom"></avatar-sex-selector>
<dress-room ng-if="editor.dressroom"></dress-room>


<!-- export SVG to JPEG -->
<!--
<button>svg to png</button>

<svg style="display: none;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" width="200" height="200">
    <rect x="10" y="10" width="50" height="50" fill="blue"/>
    <text x="0" y="100" fill="white">Look, i'm cool</text>
    <circle cx="50" cy="50" r="20" stroke="black" stroke-width="3" fill="red" />
</svg>

<canvas id="canvas" style="display: none;"></canvas>

<script>

    var btn = document.querySelector('button');
    var svg = document.querySelector('svg');
    var canvas = document.querySelector('canvas');

    function triggerDownload(imgURI) {
        var evt = new MouseEvent('click', {
            view: window,
            bubbles: false,
            cancelable: true
        });

        var a = document.createElement('a');
        //a.setAttribute('download', 'MY_COOL_IMAGE.png');
        a.setAttribute('download', 'MY_COOL_IMAGE.jpeg');
        a.setAttribute('href', imgURI);
        a.setAttribute('target', '_blank');

        a.dispatchEvent(evt);
    }

    btn.addEventListener('click', function() {
        var canvas = document.getElementById('canvas');
        var ctx = canvas.getContext('2d');
        var data = (new XMLSerializer()).serializeToString(svg);
        var DOMURL = window.URL || window.webkitURL || window;

        var img = new Image();
        var svgBlob = new Blob([data], {type: 'image/svg+xml;charset=utf-8'});
        var url = DOMURL.createObjectURL(svgBlob);

        img.onload = function() {
            ctx.drawImage(img, 0, 0);
            DOMURL.revokeObjectURL(url);

            //var imgURI = canvas.toDataURL('image/png').replace('image/png', 'image/octet-stream');
            var imgURI = canvas.toDataURL('image/jpeg', 1.0).replace('image/jpeg', 'image/octet-stream');
            triggerDownload(imgURI);
        };
        img.src = url;
    });
</script>
-->
